.outerContainer {
    /* display: flex; */
    justify-content: center;
    height: 500px;
    width: 300px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    margin-left: 70%;
    /* height: 60%;
    width: 35%; */
  }
  
 .chatForm{
     position: absolute;
     bottom: 5px;
 }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }