input[type="text"]
{
    background: transparent;
    border: none;
}

.description{
    background: transparent;
    border: none;
    height: 100px;
}

.projectContainer{
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background:#3d28468c;
}


.imagecol{
    text-align: center;
    margin: 0px;
}

.imageContainer{
    text-align: center;
}

.imageRow{
    width: 56%;
    margin-left: 22%;
}