.topnav {
    background-color:#3d2846;
    overflow: hidden;
    height: 53px;

    position: static;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a ,
  .logout-link{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navigation{
      float: right;
      width: 35%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover,
  .logout-link:hover,
  .logout-NavLink:hover {
    background-color:#948999;
    color:white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#948999;
    color: white;
  }

  .link.active{
    color: #000;
    text-decoration: underline;
}
  .logo{
      color: white;
      margin: 0%;
      padding-top: 2%;
      padding-left: 3%;
  }

  .logo_div{
      float: left; 
      width: 20%;
  }
  .logo_avatar_div{
    float: left; 
    margin-left: 1%;
}

  .selectedLink {
    background:#948999;
  }

  .logout-NavLink{
    color: white!important;
    float: right;
    padding-top: 4%;
    padding-bottom: 5%;
    margin-right: 8px;
  }

  /*notification icon*/
  .notification {

    color: white;
    text-decoration: none;
    padding: 12px 22px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .notification:hover{
    background-color:#948999;
  }

  .notification .badge {
 
    position: absolute;
    top: 4px;
    right: 3px;
    padding: 3px 7px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .dropdown {
   
    position: static;
    display: inline-block;
  }
  
  .dropup, .dropright, .dropdown, .dropleft {
    position: absolute !important;
}

  .dropdown .dropbtn {
    font-size: 16px;  
    height: auto;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-bottom: solid 1px #1a1a1a;
    overflow-y: scroll;
    max-height: 200px;
    min-width: 200px;
    left: -100px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5%;
    padding-top: 0em;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: small;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 
  

 
/*search*/
.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: #ddd;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.notification-title {
  font-size: small;
  font-weight: bold;
  margin: 0em;
}