.topnav {
    background-color:#3d2846;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navigation{
      float: right;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #5261ee;
    color:white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #5261ee;
    color: white;
  }

  .logo{
      color: white;
      margin: 0%;
      padding-top: 2%;
      padding-left: 7%;
  }

  .logo_div{
      float: left; 
      width: 20%;
  }