.gallery_container{
    width: 100%;
   
    padding-top: 3%;
    background:#3d28468c;
    position: absolute;  left: 0;
    
}
.goto{
    background-color: #acacac;
    width:150px;
    padding: 0.5%;
}

.gallery_div{
    width: 100%;
    padding-left: 10%;
    padding-right: 5%
}

