.gallery_container{
    width: 100%;
    padding-left: 20%;
    padding-right: 5%;
    padding-top: 3%;
    background: linear-gradient(45deg, #912064, #0c28efb8);
    position: absolute;  left: 0;
    
}
.goto{
    background-color: #acacac;
    width:150px;
    padding: 0.5%;
}

.gallery_div{
    width: 85%;
    padding-left: 5%;
    padding-right: 5%
}

