.gallery_container{
    width: 100%;
    height: 100%;
    padding: 30px;
    background: linear-gradient(45deg, #912064, #0c28efb8);
    position: absolute;  left: 0;
    text-align: center;
}
.goto{
    background-color: #acacac;
    width:150px;
    padding: 0.5%;
}