.chatForm {
    display: flex;
    border-top: 2px solid #D3D3D3;
    width: 100%;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 73%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(61, 40, 70);
    padding: 10px;
    display: inline-block;
    border: none;
    width: 25%;
    float: right;
  }