.profile_container{
   
        width: 100%;
        
        padding: 15px;
        background: #0250c5;
        background: #3d28468c;
    
}

.profile{
    width: 200px;
    height:200px;
}

.profile_info{
    padding: 5%;
    margin-top: 15%;
}

.profile-btn, .follow-btn, .unfollow-btn {
    font-family: Raleway-Bold;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    margin: 1%;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    background: #3d2846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
 
  
  .profile-btn:hover,  .follow-btn:hover ,.unfollow-btn:hover {
    background: #333333;
  }
  

.Container {
    max-width: 720px;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    
    padding: 15px;
    background: #0250c5;
    background: #3d28468c;;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa1a6 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#3d2846
  }

  .relative{
    position: relative;
  }

  .cardsRow{
    transform: translate3d(0px, 0px, 0px)!important;
    display: inline-flex;
    height: 100%;
    position: absolute;
  
  }

  .scrolling-wrapper{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .col-card{
    display: inline-block;
  }
  