.ProjectContainer{
    width: 100%;
    
    padding: 15px;
    background: linear-gradient(45deg, #912064, #0c28efb8);
    position: absolute;  left: 0;
}

.project_pictures{
    width:200px;
    height: 200px;
    padding: 1%;
}

.unlike-button{
    background-color: #cfc7c749 ;
}

.like__icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
}
.liked__icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    color: #912064;
}

.like__number {
    font-size: 0.8rem;
}