.ProjectContainer{
    width: 100%;
    
    padding: 15px;
    background: linear-gradient(45deg, #912064, #0c28efb8);
    position: absolute;  left: 0;
}

.project_pictures{
    width:200px;
    height: 200px;
    padding: 1%;
}